<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>skeleton</display-name>

	<welcome-file-list><!-- 서버에 들어왔을 떄 가장 먼저 로딩되는 화면용 -->
		<welcome-file>index.jp</welcome-file>
	</welcome-file-list>

	<context-param><!-- 웹 어플리케이션전반에서 공유되는 속성을 등록하는 부분-->
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/applicationContext-root.xml</param-value>
	</context-param>
	
	<listener> <!--  발생하는 이벤트를 수신해 처리하는 리스너로 넘겨줌. -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>